<ion-header>
  <ion-navbar>
    <ion-title>Informações do local</ion-title>
    <ion-buttons end>
      <button ion-button icon-start (click)="closeModal()" color="danger">
        <ion-icon name="close"></ion-icon>
        Fechar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <header>
    <h1>{{place.name}}</h1>
    <p>{{place.description}}</p>
  </header>
  <div class="block-content">
    <h2>Endereço</h2>
    <p>{{place.location.full_address}} - {{place.location.city}}, {{place.location.state}}</p>
  </div>
  <div class="block-content block-content-categories">
    <h2>Serviços</h2>
    <div>
      <span *ngFor="let category of place.categories" [class]="isSelectedFilter('category', categories[category].name)">
        <ion-badge (click)="toggleFilter($event, 'c', categories[category])">{{categories[category].label | uppercase}}</ion-badge>
      </span>
    </div>
  </div>
  <div class="block-content block-content-tags">
    <h2>Características do local</h2>
    <div>
      <span *ngFor="let tag of place.tags" [class]="isSelectedFilter('tag', tags[tag].name)">
        <ion-badge (click)="toggleFilter($event, 't', tags[tag])" color="lightgray">{{tags[tag].label | uppercase}}</ion-badge>
      </span>
    </div>
  </div>
  <div class="metatag-list">
    <ion-list>
      <ion-item>
        <ion-icon name="map" item-start></ion-icon>
        <h2>Endereço</h2>
        <h3>{{place.location.full_address}}</h3>
        <button ion-button clear item-end (click)="metadataAction('map', place.location.full_address + ' - ' + place.location.city + ', ' + place.location.state)">Mapa</button>
      </ion-item>
      <ion-item *ngFor="let phone of phones">
        <ion-icon name="call" item-start></ion-icon>
        <h2>Telefone</h2>
        <h3>{{phone.value}}</h3>
        <button ion-button clear item-end (click)="metadataAction('phone', phone.value)">Ligar</button>
      </ion-item>
      <ion-item *ngFor="let email of emails">
        <ion-icon name="mail" item-start></ion-icon>
        <h2>E-mail</h2>
        <h3>{{email.value}}</h3>
        <button ion-button clear item-end (click)="metadataAction('email', email.value)">Mensagem</button>
      </ion-item>
      <ion-item *ngFor="let website of websites">
        <ion-icon name="globe" item-start></ion-icon>
        <h2>Site</h2>
        <h3>{{website.value}}</h3>
        <button ion-button clear item-end (click)="metadataAction('website', website.value)">Acessar</button>
      </ion-item>
    </ion-list>
  </div>
</ion-content>
