<ion-header>
  <ion-navbar icon-start>
    <ion-title>Locais de Apoio</ion-title>
    <ion-buttons end>
      <button ion-button icon-start (click)="openFiltersModal()" color="primary">
        <ion-icon name="list-box"></ion-icon>
        Filtros
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar [(ngModel)]="filter.search" (ionInput)="onSearchInput($event)" placeholder="Pesquise pelo nome ou descrição do local"></ion-searchbar>
</ion-header>

<ion-content padding>
  
  <header>
      <p>Locais encontrados ({{places.length}})</p>
  </header>

  <main class="content-list">  
    <ion-card *ngFor="let place of places" (click)="openPlaceModal(place)">
      <img src="{{place.image}}"/>
      <ion-card-content>
        <div class="block-content content-title">
          <ion-card-title>{{place.name}}</ion-card-title>
          <p>
            <ion-note>
              <ion-icon name="pin" small></ion-icon> 200 metros de você
            </ion-note>
          </p>
          <p>{{place.description | slice:0:255}}...</p>
        </div>
        <div class="block-content content-distance">
          
        </div>
        <div class="block-content content-categories">
            <div>
              <span *ngFor="let category of place.categories" class="ion-badge-list">
                <ion-badge>{{placesServiceInstance.categories[category].label | uppercase}}</ion-badge>
              </span>
            </div>
        </div>
        <button ion-button icon-end outline block color="primary">
          <div>Saiba mais</div>
          <ion-icon name="arrow-round-forward"></ion-icon>
        </button>
      </ion-card-content>     
    </ion-card>
  </main>
</ion-content>
