<ion-header>
  <ion-navbar icon-start>
    <ion-title>Locais de Apoio</ion-title>
    <ion-buttons end>
      <button ion-button icon-start (click)="openFiltersModal()" color="primary">
        <ion-icon name="pricetags"></ion-icon>
        Filtros ({{filter.c.length + filter.t.length}})
      </button>
    </ion-buttons>
  </ion-navbar>
  <ion-searchbar  [(ngModel)]="filter.search" (ionInput)="onSearchInput($event)" placeholder="Pesquise pelo nome do local"></ion-searchbar>
</ion-header>

<ion-content padding>
  <header>
      <p>Locais encontrados ({{places.length}})</p>
  </header>
  <main class="content-list">  
    
    <ion-card *ngFor="let place of places" (click)="openPlaceModal(place)">
      <img src="{{place.image}}"/>
      <ion-card-content>
        <ion-card-title>{{place.name}}</ion-card-title>
        <p>{{place.description}}</p>
        <p><ion-icon name="map" small></ion-icon> 200 metros de você</p>
        <p>
          <span *ngFor="let category of place.categories">
            <ion-badge>{{category.label}}</ion-badge>
          </span>
        </p>
      </ion-card-content>
    </ion-card>

  </main>
</ion-content>
