// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.

@font-face {
    font-family: 'Raleway';
    font-weight: 800;
    font-style: normal;
    src: url('../assets/fonts/raleway/Raleway-Bold.ttf');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 600;
    font-style: normal;
    src: url('../assets/fonts/raleway/Raleway-Medium.ttf');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 400;
    font-style: normal;
    src: url('../assets/fonts/raleway/Raleway-Regular.ttf');
}
@font-face {
    font-family: 'Raleway';
    font-weight: 200;
    font-style: normal;
    src: url('../assets/fonts/raleway/Raleway-Light.ttf');
}

h1, h2, h3, h4, h5, h5 {
    font-family: 'Raleway';
}

page-home {
    ion-content {
        /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#6c2dc3+0,8b5acd+49,7756a4+100 */
        background: #6c2dc3; /* Old browsers */
        background: -moz-linear-gradient(top, #6c2dc3 0%, #8b5acd 49%, #7756a4 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(top, #6c2dc3 0%,#8b5acd 49%,#7756a4 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to bottom, #6c2dc3 0%,#8b5acd 49%,#7756a4 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#6c2dc3', endColorstr='#7756a4',GradientType=0 ); /* IE6-9 */
        header {
            img {
                margin: 20px 0;
            }
            .text-welcome {
                margin: 0 0 30px;
                color:white;
                h1 {
                    font-weight: 600;
                    margin:0;
                }
                p {
                    margin: 0;
                    font-size: 1.3em;
                }
            }
        }
        ion-card {
            background-color: rgba(255,255,255,0.2) !important;
            border-radius: 10px !important;
            ion-card-content  {
                h2, p {
                    color: white !important; 
                }
                h2 {
                    font-weight: 800 !important;
                    margin-bottom: 0.6em !important;
                }
                p {
                    font-size: 0.9em;
                }
            }
        }
    }
}

page-places {
    ion-header {
        ion-navbar {
            .toolbar-background {
                background-color: #6c2dc3;
            }
            .toolbar-title {
                color: white;
                font-weight: 800;
            }
            ion-buttons {
                .button-inner {
                    color: white;
                }
            }
        }
        ion-toolbar {
            ion-segment-button {
                font-weight: 800 !important;
            }
        }
    }
    ion-content {
        background-color: #4a1e86 !important;
        header {
            margin: 1em 0 0 0;
            color: white;
            font-size: 1.2em;
            p {
                margin-top: 0;
            }
        }
        ion-card {
            ion-card-content {
                .content-title {
                    margin-bottom: 1em;
                    ion-card-title {
                        font-weight: 800;
                    }
                }
                .content-categories {
                    margin-bottom: 1em;
                    h2 {
                        color: gray;
                        text-transform: uppercase;
                        font-size: 0.8em;
                        font-weight: 600;
                    }
                }
            }
        }
    }
    ion-content.view-mode-list {
        #list-container {
            display: block;
        }
        #map-container {
            display: none !important;
        }
    }
    ion-content.view-mode-map {
        #list-container {
            display: none !important;
        }
        #map-container {
            display: block;
        }
    }  
}

page-filters-modal {
    ion-header {
        ion-navbar {
            .toolbar-background {
                background-color: #606060;
            }
            .toolbar-title {
                color: white;
                font-weight: 800;
            }
            ion-buttons {
                .button-inner {
                    color: white;
                }
            }
        }
    }
    ion-content {
        h2 {
            text-transform: uppercase;
            font-weight: 800 !important;
            font-size: 0.8em !important;
            margin-bottom: 0.4em !important;
        }
    }
}

page-places-modal {
    ion-header {
        ion-navbar {
            .toolbar-background {
                background-color: #6c2dc3;
            }
            .toolbar-title {
                color: white;
                font-weight: 800;
            }
            ion-buttons {
                .button-inner {
                    color: white;
                }
            }
        }
    }
    ion-content {
        header {
            background-color: #f5f5f5;
            padding: 1em;
            border-radius: 0.2em;
            margin-bottom: 2em;
            h1 {
                font-weight: 800;
                text-align: center;
            }
            p {
                line-height: 1.7em;
                text-align: center;
            }
        }
        .block-content {
            margin-bottom: 1.8em;
            h2 {
                text-transform: uppercase;
                font-weight: 800;
                font-size: 1em;
                margin-bottom: 0.4em;
            }
            p {
                margin: 0;
                line-height: 1.7em;
            }
        }
        .block-content-categories {
            .badge-selected ion-badge {
                background-color: darken($color: #e7a32c, $amount: 10);
            }
        }
        .block-content-tags {
            ion-badge {
                color: #606060 !important;
            }
            .badge-selected ion-badge {
                background-color: darken($color: #e8e8e8, $amount: 10);
            }
        }
    }
}

page-about {
    ion-header {
        ion-navbar {
            .toolbar-background {
                background-color: #6c2dc3;
            }
            .toolbar-title {
                color: white;
                font-weight: 800;
            }
            ion-buttons {
                .button-inner {
                    color: white;
                }
            }
        }
    }
    ion-content {
        .block-content {
            margin-bottom: 1.8em;
            h2 {
                font-weight: 800;
                margin-bottom: 0.4em;
            }
            p {
                margin: 0;
                line-height: 2em;
            }
        }
    }
}

page-about-modal {
    ion-header {
        ion-navbar {
            .toolbar-background {
                background-color: #6c2dc3;
            }
            .toolbar-title {
                color: white;
                font-weight: 800;
            }
            ion-buttons {
                .button-inner {
                    color: white;
                }
            }
        }
    }
    ion-content {
        background-color: #ffcc00 !important;
        section {
            text-align: center;
            h1 {
                font-weight: 800;
                margin: 0;
                padding: 0;
                text-transform: uppercase;
            }
            h2 {
                font-weight: 800;
                font-size: 1em;
                margin-bottom: 0;
            }
            p {
                margin-top: 0;
                line-height: 1.6em;
            }
        }
        section.header {
            margin: 0.8em;
            p {
                margin: 0;
            }
        }
        section.about-app {
            img {
                height: 100px;
            }
        }
    }
}

.ion-badge-list {
    line-height: 2em;
    ion-badge {
        border-radius: 20px;
        font-size: 0.8em;
        font-weight: 800;
        padding: .6em 1em;
    }
}
.metatag-list {
    ion-item {
        h2 {
            font-size: 0.7em;
            padding-top: 2px;
            font-weight: 800;
            text-transform: uppercase;
        }
    }
}

#map-container, #map {
    height: 100%;
}