<ion-header>
  <ion-navbar>
    <ion-title>Filtar Locais</ion-title>
    <ion-buttons end>
      <button ion-button icon-start (click)="closeModal()" color="danger">
        <ion-icon name="close"></ion-icon>
        Fechar
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content>
  <ion-list>

    <ion-item>
      <h2>Categorias de serviço</h2>
      <p>Escolha as categorias de serviços que deseja</p>
    </ion-item>
    <ion-item *ngFor="let category of categories_array">
      <ion-label>{{category.label}}</ion-label>
      <ion-toggle (ionChange)="changeFilter($event, 'category', category.name)" checked="{{isCategoryEnabled(category.name)}}"></ion-toggle>
    </ion-item>

    <ion-item>
      <h2>Características dos locais</h2>
      <p>Escolha as características dos locais indicados</p>
    </ion-item>
    <ion-item *ngFor="let tag of tags_array">
      <ion-label>{{tag.label}}</ion-label>
      <ion-toggle (ionChange)="changeFilter($event, 'tag', tag.name)" checked="{{isTagEnabled(tag.name)}}"></ion-toggle>
    </ion-item>

    <ion-item>
      <button ion-button block large outline (click)="closeModal()">Fechar</button>
    </ion-item>
  </ion-list>
</ion-content>
  